.cart_container{
    width: 100%;
    height: 100%;
}

.cart_container .cart_subcontainer{
    gap: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart_subcontainer .cart_row{
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cart_row .cart_section{
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.cart_section .cart_header{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.cart_header input[type=checkbox]{
    width: 16px;
    height: 16px;
}

.cart_header p{
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cart_section .cart_item{
    gap: 16px;
    width: 100%;
    padding: 8px 0;
    display: flex;
    max-height: 100px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--gray3);
}

.cart_item .item_information{
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item_information .item_img{
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.item_information .item_img img{
    width: 100%;
    min-width: 100px;
    min-height: 100%;
    object-fit: cover;

}

.item_information .item_details{
    gap: 8px;
    width: 100%;
    display: flex;
    font-size: 14px;
    align-items:start;
    flex-direction: column;
    justify-content: space-between;
}

.item_details .product_price{
    color: var(--red2);
}

.item_information .item_variation{
    width: 100%;
}

.item_variation select{
    border: none;
    background-color: transparent;
}

.cart_item .item_actions{
    height: 100%;
    display: flex;
    align-items: end;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.item_actions img{
    width: 32px;
    height: 32px;
}

.item_actions .input{
    /* padding: 4px; */
    height: 100%;
    display: flex;
    position: relative;
    align-self: flex-end;
    border: 1px solid var(--blue);
    background-color: var(--white);
}

.input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.cart_item .item_variation{
    width: 100%;
    display: flex;
    font-size: 14px;
    align-items: center;
}


.cart_item .item_actions input[type="number"]{
    width: 80px;
    background-color: var(--white);
}

.cart_subcontainer .checkout_section{
    gap: 16px;
    width: 30vw;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}