.checkout_container {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.checkout_subcontainer{
    gap: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout_body{
    gap: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkout_body .product_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_item p {
    width: 100%;
    text-align: left;
}

.payment_section{
    gap: 16px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.payment_section a{
    padding: 12px 0;
}

.payment_section select, input{
    width: 100%;
    height: 50px;
    padding: 8px 8px;
}

.payment_section input{
    font-size: 16px;
}

.payment_section .input{
    width: 100%;
    display: flex;
    position: relative;
    align-self: flex-end;
    border: 1px solid var(--blue);
    background-color: var(--white);
}

.payment_section .input input{
    width: 100%;
    height: 30px;
    text-align: right;
    position: relative;
    background-color: transparent;
}

