/* Header */
header{
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    position: sticky;
    background-color: var(--white);
}

header #sub_header{
    width: 100%;
    display: flex;
    padding: 16px 48px;
    flex-direction: row;
    justify-content: space-between;
    
    @media screen and (max-width: 1000px){
        padding: 16px 16px;
    }
    
    @media screen and (max-width: 500px){
        padding: 16px 8px;
    }

    @media screen and (max-width: 320px){
        gap: 0;
    }
}

#sub_header > #header_navigation{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;   
    justify-content: space-between;
}

#header_navigation .logo2, #header_navigation .menu{
    display: none;
}

@media screen and (max-width: 600px){
    #header_navigation .logo1{
        display: none;
    }
    #header_navigation .logo2{
        display: flex;
    }
}

@media screen and (max-width: 460px){
    #header_navigation .logo2{
        display: none;
    }
}

#header_navigation .logo_section{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#sub_header > #header_userside{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#header_navigation nav{
    gap: 16px;
    width: 100%;
    display: flex;
    margin-left: 16px;
    flex-direction: row;
    @media screen and (max-width: 850px){
        display: none;
    }
}

@media screen and (max-width: 850px){
    #header_navigation .menu{
        display: flex;
    }
}


#header_navigation nav > a{
    font-weight: 600;
}

#header_navigation nav > a:hover{
    color: var(--blue2);
}

#header_userside > .userside_actions{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.userside_actions #notification{
    display: flex;
    align-items: center;
}

.userside_actions #profile_section, #profile_section > #user_image{
    gap: 16px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#profile_section > #user_image > img{
    width: 33px; 
    height: 33px; 
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid var(--blue);
}

#profile_section > #user_profile{
    top: 0;
    right: 0;
    gap: 16px;
    z-index: 1;
    width: 100%;
    padding: 24px;
    display: none;
    min-width: 200px;
    text-align: center;
    position: absolute;
    flex-direction: column;
    border: 2px solid var(--blue2);
    background-color: var(--white);
    transform: translate(-5%, 15%);
    border-radius: 20px 0px 20px 20px;
}

#user_profile #userprofile_header{
    gap: 16px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#userprofile_header #userprofile_info{
    gap: 8px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#userprofile_info #userprofile_details{
    gap: 8px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#userprofile_header #userprofile_info #userprofile_details p{
    width: 100%;
    font-size: 12px;
    position: relative;
    color: var(--gray4);
    word-wrap: break-word;
}

#userprofile_header img{
    width: 64px; 
    height: 64px;
    border-radius: 100%;
    border: 2px solid var(--blue);
}

#user_profile #userprofile_actions{
    gap: 16px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#userprofile_actions a{
    font-weight: 600;
}

#userprofile_actions a:hover{
    color: var(--blue2);
}

#userprofile_actions .logout{
    cursor: pointer;
    color: var(--red);
}

#userprofile_actions .logout:hover{
    cursor: pointer;
    color: var(--red2);
}

.userside_actions .userside_basket{
    display: flex;
    cursor: pointer;
    padding: 0px 8px;
    position: relative;
}

.userside_basket span{
    zoom: 90%;
    top: 0px;
    padding: 4px;
    min-width: 16px;
    right: 5px;
    color: var(--white);
    font-size: 12px;
    word-wrap: wrap;
    font-weight: 600;
    text-align: center;
    position: absolute;
    border-radius: 100%;
    border: 2px solid var(--white);
    background-color: var(--blue2);
}

/* Search */
.globalsearch_container{
    display: flex;
    padding: 0 48px;
    align-items: center;
    flex-direction: row;
    background-color: var(--white);
    @media screen and (max-width: 1000px){
        padding: 0 16px;
    }

    @media screen and (max-width: 350px){
        padding: 0 8px;
    }
}

.globalsearch_container .globalsearch_subcontainer{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    background-color: var(--white);
}

.globalsearch_subcontainer img{
    height: 100%;
    padding: 16px;
    filter: --filterBlue;
    background-color: var(--blue);
}

.globalsearch_subcontainer input{
    width: 100%;
    height: 100%;
    color: var(--black);
    background-color: transparent;
}