@import url(style.css);

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-weight: 400;
    position: relative;
    font-style: normal;
    font-family: "Poppins", serif;
    background-color: var(--white);
}

/* Default for Links */
a{  
    color: black;
    text-decoration: none;
}

.link{ 
    color: var(--black);
    text-decoration: underline transparent;
    transition: text-decoration 300ms ease;
}

.link:hover{
    color: var(--blue);
    text-decoration: 2px underline;
}

/* Dialog */
dialog{
    zoom: 85%;
    z-index: 1;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid var(--gray5);
}

/* Input Style */
input{
    border: none;
}

input:focus, select:focus, textarea:focus{
    outline: none;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="file"]::file-selector-button, textarea, select{
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", serif;
}

/* Direction */
.flex-rowdirection{
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flex-rowfullwidth{
    width: 100%;
}

.flex-coldirection{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

/* justifycontent-spacebetween */
.jc-spacebetween{
    justify-content: space-between;
}

/* Button */
.btn{
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
}

.defaultbtn{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
    text-align: center;
    padding: 12px 8px;
    font-style: normal;
    border-radius: 4px;
    color: var(--white);
    font-family: "Poppins", serif;
    background-color: var(--gray4);
}

.button1{ /*default btn components */
    font-weight: 600;
    text-wrap: nowrap;
    border-radius: 4px;
    color: var(--white);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background: var(--blue);
}

.button1:hover{
    background-color: var(--blue2);
}

.button2{
    font-weight: 600;
    text-wrap: nowrap;
    border-radius: 4px;
    color: var(--blue2);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--blue2);
}

.button2:hover{
    color: var(--white);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background: var(--blue);
    border: 1px solid var(--blue2);
}

.smallbtn{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
    text-align: center;
    font-style: normal;
    border-radius: 72px;
    color: var(--white);
    font-family: "Poppins", serif;
    background-color: var(--gray4);
}

.defaultbtn:hover, .smallbtn:hover{
    cursor: pointer;
    background-color: var(--gray5);
}

/* Error or Red Colors */
.error{
    color: var(--red);
}

.deletebtn:hover{
    cursor: pointer;
    filter: var(--filterRed2);
}

.cancelbtn{
    color: var(--white);
    background-color: var(--red);
}

.cancelbtn:hover{
    color: var(--white);
    background-color: var(--red2);
}

.cancelbtnimg:hover{
    cursor: pointer;
    filter: var(--filterRed2);
}

/* Success or Green Colors */
.success{
    color: var(--green3);
}

/* Blue Colors */
.enabledbtn{
    background-color: var(--blue);
}

.enabledbtn:hover{
    background-color: var(--blue2);
}

.editbtn:hover{
    filter: var(--filterBlue2);
}

.editbtnlink:hover{
    cursor: pointer;
}

/* Disabled or Gray Color */
.disabled{
    
}

/* Icon */
.icon_fn{ /* icon that has functions */
    cursor: pointer;
}

.iconSmall{
    width: 18px;
    height: 18px;
}

.iconNormal{
    width: 24px;
    height: 24px;
}

.iconMedium{
    width: 32px;
    height: 32px;
}

.iconLarge{
    width: 42px;
    height: 42px;
}

/* Product Image */
.imagedefault{
    height: auto;
    max-width: 100%; 
}

.imageSmall{
    width: 32px;
    height: 32px;
    object-fit: cover;
}

/* Product Image */
.imageMediumSmall{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.imageMedium{
    width: 64px;
    height: 64px;
    cursor: pointer;
    object-fit: cover;
}

.imageMedium:hover{
    background-color: var(--gray3);
}

.imageLarge{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.imageExtraLarge{
    width: 160px;
    height: 160px;
    object-fit: cover;
}

/* Image Logo */
.logoSmall{
    width: 64px;
    height: 42px;
    object-fit: cover;
}

.logoMedium{
    width: 400px;
    height: 400px;
}

.wordLogoSmall{
    width: 137px;
    height: 42px;
}

.wordLogoMedium{
    width: 220px;
    height: 66px;
}

.bold{
    font-weight: 600;
}

.tagsSmall{
    font-size: 12px;
    color: var(--gray5);
}

.fontsizeSmall{
    font-size: 12px;
}

.fontsizeMedium{
    font-size: 14px;
}

/* Card Img Size */
.card_image_small{

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* border-radius: 20px; */
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    /* border-radius: 30px; */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue2);
}

/* Animation Notification */
.popupnotification{
    top: 0%;
    left: 50%;
    z-index: 1;
    padding: 32px;
    display: block;
    text-align: center;
    visibility: hidden;
    position: absolute;
    border-radius: 14px;
    background-color: var(--gray3);
    transform: translate(-50%, -50%);
    animation-name: popuphide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

/* Notification & Animation */
@keyframes popuphide{
    0% 	{ opacity: 0; visibility: visible;}
	10% { opacity: 1; }
	90% { opacity: 1;
        top: 8%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
	99% { opacity: 0; 
        top: 13%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
        }
	100% { opacity: 0; visibility: hidden;}
}

/* Search all the same */
.searchcontainer{
    gap: 8px;
    width: 80px;
    height: 100%;
    display: flex;
    padding: 6px 14px;
    position: relative;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--blue);
    transition: width 0.5s ease-in-out;
    background: rgba(149, 191, 255, 0.1);
}

.searchcontainer:focus-within{
    width: 200px;
    background: var(--white);
}

.searchcontainer > img{
    width: 18px;
    height: 18px;
}

.searchcontainer > input{
    width: 100%;
    height: 100%;
    background-color: transparent;
}